<div class="conteiner">
    <button>
        <div class="logo-1">
            <img src="https://i.postimg.cc/sX46hF1F/piggy-bank.png" alt="">
            <h5>COFRINHO</h5>
        </div>
    </button>
    <button [routerLink]="['/pix']">
        <div class="logo-2">
            <img src="https://i.postimg.cc/LhKGtkRw/pix-logo.png" alt="">
            <h5>PIX</h5>
        </div>
    </button>
    
    <button [routerLink]="['/depositar']">
        <div class="logo-3">
            <img src="https://i.postimg.cc/VNK6KvJD/hand-deposit.png" alt="">
            <h5>DEPOSITAR</h5>
        </div>
    </button>
    <button>
        <div class="logo-4">
            <img src="https://i.postimg.cc/y8k7yKqz/hand-withdraw.png" alt="">
            <h5>SACAR</h5>
        </div>
    </button>
    <button>
        <div class="logo-5">
            <img src="https://i.postimg.cc/QxgfYK3Q/shield-check.png" alt="">
            <h5>SEGURO</h5>
        </div>
    </button>
    <button>
        <div class="logo-6">
            <img src="https://i.postimg.cc/vB1P0PYT/currency-btc.png" alt="">
            <h5>BITCOIN</h5>
        </div>
    </button>
    <button>
        <div class="logo-7">
            <img src="https://i.postimg.cc/fbzpfjSS/hand-heart.png" alt="">
            <h5>DOAR</h5>
        </div>
    </button>
    <button>
        <div class="logo-8">
            <img src="https://i.postimg.cc/rmtJ1Kjt/hand-coins.png" alt="">
            <h5>EMPRESTIMO</h5>
        </div>
    </button>
</div>
