.conteiner{
    color: #2b97fa;
    border: 2px solid #2b97fa;
    width: 1525px;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}