.conteiner{
    border: 2px solid #2b97fa;
    width: 500px;
    height: 250px;
    position: relative;
    border-radius: 15px;
}

.valor-disponivel{
    color: #2b97fa;
    padding: 0px 20px;
}

.valor-disponivel h3{
    margin-top: 15px;
    margin-bottom: 0px;
}

.valor-disponivel h1{
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
}

.valor-disponivel h4{
    font-weight: unset;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dados{
    position: absolute;
    top: 0px;
    right: 20px;
    color: #2b97fa;
    font-weight: bold;
}

.dados h3{
    padding: 5px 9px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.dados h3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2b97fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

hr{
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #2b97fa, transparent);
}

.rendimento h3{
    color: #2b97fa;
    padding: 0px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button{
    all: unset;
}

.movimentacao{
    color: #2b97fa;
    display: flex;
    gap: 30px;
    padding: 0 47px;
}

.depositar, .transferir{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 9px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 19px;
}



.depositar:hover, .transferir:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2b97fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.limite{
    color: #2b97fa;
    
}

.limite h4{
    margin-top: 0px;
    margin-bottom: 0px;
    right: 10px;
}