<div class="conteiner">
    <div class="saldo">
        <div class="valor-disponivel">
            <h3>VALOR DISPONIVEL</h3>
            <h1>{{ (dashboard?.saldoDisponivel ?? 0) | currency:'BRL' }}</h1>
            <h4>{{ (dashboard?.saldoALiberar ?? 0) | currency:'BRL' }} a liberar</h4>
            <div class="limite">
                <h4>{{ (dashboard?.limite ?? 0) | currency:'BRL' }} Limite Disponivel</h4>
            </div>
        </div>
        <div class="dados">
            <h3> 
                <button [routerLink]="['/dados-cliente']">
                    SEUS DADOS
                </button>
            </h3>
        </div>
    </div>
    <hr>
    <div class="rendimento">
        <h3>Rendeu R$0,00 nos ultimos 12 meses</h3>
    </div>
    <hr>
    <div class="movimentacao">
        <button class="depositar" [routerLink]="['/depositar']">
            Depositar dinheiro
        </button>
        <button class="transferir" [routerLink]="['/transferir']">
            Transferir dinheiro
        </button>
    </div>
    
</div>
