<div class="menu_Conteiner">
    <div class="lateral-cadastro">
        <img src="https://i.postimg.cc/G3Nx03b8/Chat-GPT-Image-14-jul-2025-16-46-41.png" alt="">
    </div>

    <div class="cadastro">
        <div class="fundo">
            <div class="cadastro-title">
                <h1>BEM-VINDO AO VANTABANK</h1>
            </div>
            <div class="cadastro-login">
                <form (ngSubmit) = "logar()">
                    <input type="text" [(ngModel)] = "login" name="login" placeholder="Login" required>
                    <input type="password" [(ngModel)]="senha" name="senha" placeholder="Senha" required>
                    <button type="submit">ENTRAR</button>
                </form>
            </div>
            <div class="cadastro-text">
                <h3>
                    Não possui conta?<br>
                    <a [routerLink]="['/cadastro-pag']" class="cadastro-link">Venha ser Vantabank Já!!</a>
                </h3>
            </div>
        </div>
    </div>
</div>