.menu_Conteiner{
    border: 2px solid #13a8fe;
    box-shadow: 0 0 20px #13a8fe;
    width: 1300px;
    height: 610px;
    margin: 20px auto;
    position: relative;
    display: flex;
}

.lateral-cadastro > img{
    width: 650px;
    height: 100%;
}

.cadastro{
    position: absolute;
    right: 0px;
    width: 650px;
    height: 610px;
    color: white;
    z-index: 1;
    border: 2px solid #13a8fe;
    box-shadow: 0 0 20px #13a8fe;
    background: 
      linear-gradient(135deg,#0000 20.5%,#13a8fe 0 29.5%,#0000 0) 0 36px,
      linear-gradient( 45deg,#0000 8%,#13a8fe 0 17%, #0000 0 58%) 72px 0,
      linear-gradient(135deg,#0000 8%,#13a8fe 0 17%, #0000 0 58%,#13a8fe 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#13a8fe 0 17%, #0000 0 58%,#13a8fe 0 67%,#0000 0 83%,#13a8fe 0 92%,#0000 0),
      #000117;
    background-size: 144px 144px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.fundo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type="text"],
input[type="password"],
button{
    all: unset;
    display: block;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #000117 !important;
    cursor: pointer;
    transition: transform o.3s ease, box-shadow 0.3s ease;
}

button:hover{
    background-color: #13a8fe !important;
    transform: translateY(-3px) scale(1.05);
}

h1{
    font-size: 50px;
    font-weight: bolder;
    color: #13a8fe;
}

.cadastro-link{
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: transform o.3s ease, box-shadow 0.3s ease;
}

.cadastro-link:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: #13a8fe;
}